@model IEnumerable<CategorySubforumsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var category in Model)
{
    <p>@category.Name</p>
    @foreach (var subforum in category.Subforums)
    {
        <h3>@subforum.Name</h3>
    }
    <p>----------------</p>
}

